[submodule "fonts"]
    path = extras/fonts
    url = ssh://git@github.com:powerline/fonts.git

[submodule "ack.vim"]
    path = files/.vim/bundle/ack.vim
    url = ssh://git@github.com:mileszs/ack.vim.git

[submodule "ctrlp.vim"]
    path = files/.vim/bundle/ctrlp.vim
    url = ssh://git@github.com:kien/ctrlp.vim.git

[submodule "delimitMate"]
    path = files/.vim/bundle/delimitMate
    url = ssh://git@github.com:Raimondi/delimitMate.git

[submodule "jedi-vim"]
    path = files/.vim/bundle/jedi-vim
    url = ssh://git@github.com:davidhalter/jedi-vim.git

[submodule "nerdtree"]
    path = files/.vim/bundle/nerdtree
    url = ssh://git@github.com:scrooloose/nerdtree.git

[submodule "vim-airline"]
    path = files/.vim/bundle/vim-airline
    url = ssh://git@github.com:vim-airline/vim-airline.git

[submodule "vim-airline-themes"]
    path = files/.vim/bundle/vim-airline-themes
    url = ssh://git@github.com:vim-airline/vim-airline-themes.git

[submodule "vim-colors-solarized"]
    path = files/.vim/bundle/vim-colors-solarized
    url = ssh://git@github.com:altercation/vim-colors-solarized.git

[submodule "vim-flake8"]
    path = files/.vim/bundle/vim-flake8
    url = ssh://git@github.com:nvie/vim-flake8.git

[submodule "vim-javascript"]
    path = files/.vim/bundle/vim-javascript
    url = ssh://git@github.com:pangloss/vim-javascript.git

[submodule "vim-markdown"]
    path = files/.vim/bundle/vim-markdown
    url = ssh://git@github.com:plasticboy/vim-markdown.git
