# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Jordan Ribera
	email = jordanribera@gmail.com
[core]
	editor = /usr/local/bin/vim
[push]
	default = simple
